@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

html {
    background-color: navy;
}

.content {
    background-color: navy;
    color: #efefef;
    /* Makes text have black outline */
    text-shadow:        
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    background-image: url("../public/Banner2.jpg");
    color: white;
    padding: 30px;
}

.skills {
    font-family: 'Raleway', sans-serif;
    font-size:120px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 
        4px 4px #ff1f8f,
        10px 10px #000000;
}

#Troogle {
    width: 500px;
    height: 300px;
    transition: 0.5s;
    text-align: center;
    background-image: url("./images/Troogle.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

#UnsubHub {
    width: 500px;
    height: 300px;
    transition: 0.5s;
    text-align: center;
    background-image: url("./images/UnsubHub.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.project p{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
}

.project:hover {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;

}

.project:hover p {
    opacity: 1;
    transform: scale(1);
}